main{
    padding-bottom: 10px;
    padding-left: 15px;
}
.title{
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}
.small-unicorn{
    display: block;
    margin: auto;
}
.content{
    display: inline-flex;
    flex-direction: column;
}
.more{
    display: block;
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: 700;
    width: 120px;
    height: 120px;
    padding: 33px 10px;
    width: 120px;
    height: 120px;
}
.more img{
    margin-top: 15px;
}
.text{
    width: 72%;
    font-weight: 650;

}
.big-unicorn{
    display: none;
}
.main_socials{
    display: none;
}



@media screen and (min-width:768px) {
    .small-unicorn{
        display: none;
    }
    .big-unicorn{
        display: block;
        margin: auto;
        width: 70%;
    }
    .main_socials{
        display: block;
       position: relative;
       top: 90px;
    }
    .text{
position: relative;
left: 150px;
top: -20px;
    }
    .title{
        font-size:50px;
    }
    .more{
      position: relative;
      top: 100px;
    }
}

@media screen and (min-width:1200px){
    main{
padding-bottom:50px;

    }
    .main_socials{
        position: relative;
        top: -80px;
        left: 60px;
    }
    .main_socials>li{
        margin-bottom: 15px;
    }
    .small-unicorn{
        display: none;
    }
    .big-unicorn{
        display: block;
        margin-left:600px;
        width: 786px;
   position:absolute;
   top: 100px;
   margin-bottom: -300px;
    }
    .title{
        margin-left: 56px;
    }
    .text{
        margin-left: 190px;
        position: relative;
        top: 100px;
        width: 250px;
    }
    .more{
      margin-left: 200px;
      position: relative;
      top: 200px;
      left: -10px;
    } 
}
